.vscode
.DS_Store

*.log

node_modules
storybook-static# Ignore artifacts:


.next
out
build

.secrets.json
packages/common/backend/auction-house/secrets/**
.secrets.json
packages/common/backend/auction-house/test.ts
packages/common/backend/auction-house/testings/
*.http
packages/mint/dist
ethereum
sdk
.history/**
.history